body {
	font-family: 'Libre Caslon Text', serif;
	background-color: #FADE16;
	color: #101010;
}

.header {
	padding: 20% 10% 0 10%;
}


.ion-md-wine {
	font-size: 250%;
}

.ion-ios-wine,
.ion-ios-beer,
.ion-ios-pint,
.ion-ios-cafe {
	font-size: 450%;
}

